.movie-list-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-list-item {
  display: flex;
  justify-content: space-between;
}

.info-list {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.detail-button {
  margin-top: 15px;
}

.info-items > span {
  margin-right: 10px;
  margin-left: 10px;
}

.info-items > button {
  margin-right: 15px;
}

.date {
  font-size: 30px;
}
