.site-layout-content {
  height: 100%;
  min-height: 280px;
  padding: 24px;
  overflow: auto;
}

 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}



.search-input {
  max-width: 500px;
  min-width: none;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;

}

.selector{
  margin: 0 auto;
  margin-bottom: 10px;
}
